<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="text-center">
        <h2 class="h2 mb-3 font-weight-bold">Giới thiệu về tôi</h2>
        <p class="text-muted lead">Đây là trang thông tin cá nhân của tác giả Blog.</p>
    </div>
</div>