<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="text-center">
        <h2 class="h2 mb-3 font-weight-bold">Liên hệ</h2>
        <p class="text-muted lead">Vui lòng để lại thông tin, tôi sẽ phản hồi sớm nhất.</p>
        
        </div>
</div>