<div class="mt-5 container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-10">
            <h2 class="h2 text-center mb-4">Tìm kiếm bài viết</h2>
            
            <form action="/search" method="GET" class="mt-2">
                <div class="form-group mb-3">
                    <label for="search-input" class="form-label font-weight-bold">Từ khóa</label>
                    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>