<div class="main">
    <div class="container">
        <div class="mt-4">
            <div class="row">
                <div class="blog-content-wrapper">
                    <div class="col-lg-3">
                        <div class="blog-card-banner">
                            <img src="{{blog.img}}" alt="{{blog.name}}" width="250" class="blog-banner-img">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2>{{blog.name}}</h2>

                        <p>{{blog.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>